version: '3'
name: oph-ludos
services:
  ludos:
    extends:
      service: ludos-server
    environment:
      - SPRING_PROFILES_ACTIVE
      - DB_URL
      - LUDOS_PALVELUKAYTTAJA_USERNAME
      - LUDOS_PALVELUKAYTTAJA_PASSWORD
      - GITHUB_TOKEN
    container_name: ludos-server

  ludos-server:
    build:
      cache_from:
        - type=local,src=server-compose-cache
      cache_to:
        - type=local,dest=server-compose-cache
      secrets:
        - github_token
      context: .
      dockerfile: Dockerfile
    image: ${LUDOS_TAG}
    pull_policy: missing
    ports:
      - '127.0.0.1:8080:8080'
    healthcheck:
      test: ['CMD-SHELL', 'curl http://localhost:8080/api/health-check || exit 1']
    depends_on:
      ludos-db:
        condition: service_healthy

  ludos-server-stage:
    build:
      cache_from:
        - type=local,src=server-compose-cache
      secrets:
        - github_token
      target: server-build
      context: .
      dockerfile: Dockerfile
    image: server-stage
    pull_policy: missing

  ludos-db:
    image: 'postgres:15.2'
    environment:
      - 'POSTGRES_USER=oph'
      - 'POSTGRES_PASSWORD=oph'
      - 'POSTGRES_DB=ludos'
      - 'TZ=Europe/Helsinki'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready']
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - '127.0.0.1:5432:5432'

secrets:
  # For downloading packages from Github Packages Maven registry
  # https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-apache-maven-registry
  github_token:
    environment: GITHUB_TOKEN
