
spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: ${DB_URL:jdbc:postgresql://localhost:5432/ludos}
    username: ${DB_USER:oph}
    password: ${DB_PASS:oph}
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always
      schema: classpath:org/springframework/session/jdbc/schema-@@platform@@.sql
      table-name: spring_session
  jpa:
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
logging:
  level:
    org:
      springframework:
        security: INFO
        session: INFO

server:
  servlet:
    session:
      timeout: 7200s # Session timeout. If a duration suffix is not specified, seconds are used.
  tomcat:
    accesslog:
      enabled: true
      directory: /dev
      prefix: stdout
      buffered: false
      suffix: ""
      file-date-format: ""

ludos:
  service-user:
    username: ${LUDOS_PALVELUKAYTTAJA_USERNAME}
    password: ${LUDOS_PALVELUKAYTTAJA_PASSWORD}