<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
            <customFields>{"level": "INFO"}</customFields>
        </encoder>
    </appender>

    <appender-ref ref="STDOUT" />
</configuration>