.tiptap {
    @apply h-auto min-h-[30vh] w-full resize-y overflow-auto p-2
}

.image-resizer {
    display: inline-flex;
    position: relative;
    flex-grow: 0;
}

.image-resizer .resize-trigger {
    position: absolute;
    right: -6px;
    bottom: -9px;
    opacity: 0;
    transition: opacity .3s ease;
    color: #3259a5;
}

.image-resizer:hover .resize-trigger {
    opacity: 1;
}

.tiptap-bullet-list {
    @apply list-disc ml-6 pl-6
}

.tiptap-numbered-list {
    @apply list-decimal ml-6 pl-6
}

.tiptap-blockquote {
    @apply border-l-2 border-gray-secondary pl-4
}

.tiptap-link {
    @apply text-green-primary underline
}