@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .row {
    @apply flex flex-row
  }

  .col {
    @apply flex flex-col
  }

  .buttonPrimary {
    @apply bg-green-primary hover:bg-green-light text-white
  }

  .buttonSecondary {
    @apply border-green-primary text-green-primary hover:bg-green-primary border-2 hover:text-white
  }

  .buttonGhost {
    @apply text-black bg-none
  }
}

:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 29px;
  line-height: 39px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.boxBorder {
  border-top: 4px solid theme('colors.green.primary');
  border-left: 2px solid theme('colors.gray.light');
  border-right: 2px solid theme('colors.gray.light');
  border-bottom: 2px solid theme('colors.gray.light');

  &:hover {
    border-left: 2px solid theme('colors.green.primary');
    border-right: 2px solid theme('colors.green.primary');
    border-bottom: 2px solid theme('colors.green.primary');
  }
}
