@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .row {
    display: flex;
    flex-direction: row;
  }

  .col {
    display: flex;
    flex-direction: column;
  }
}

:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 29px;
  line-height: 39px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
