@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .row {
        @apply flex flex-row
    }

    .col {
        @apply flex flex-col
    }

    .buttonPrimary {
        @apply bg-green-primary hover:bg-green-light text-white
    }

    .buttonSecondary {
        @apply border-2 border-green-primary text-green-primary hover:bg-green-primary hover:text-white
    }

    .buttonGhost {
        @apply text-black bg-none hover:bg-gray-light
    }

    .buttonDanger {
        @apply border-2 border-red-primary hover:bg-red-light text-red-primary
    }

    h1 {
        @apply text-[1.8rem] leading-[2.4rem] tracking-[-0.015em] font-bold
    }

    h2 {
        @apply text-[1.5rem] leading-[2rem] font-semibold
    }

    h3 {
        @apply text-[1.3rem] leading-[1.8rem] font-semibold
    }

    h4 {
        @apply text-[1.1rem] leading-[1.6rem] font-semibold
    }

    div.dropdown-full {
        @apply w-full
    }

    div.dropdown-md {
        @apply w-full md:w-[17.5rem]
    }

    div.dropdown-lg {
        @apply w-full md:w-[26.875rem]
    }

    .ludos-form {
        @apply w-full pt-3 md:w-10/12
    }

    input[type='radio'], input[type='checkbox'] {
        @apply accent-green-primary
    }

    @media print {
        .print-color-adjust-exact {
            print-color-adjust: exact !important;
        }
    }
}

@font-face {
    font-family: 'Open Sans Variable';
    src: url('../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 400 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Variable';
    src: url('../assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 400 700;
    font-style: italic;
}
@page { size: auto;  margin: 0; }

:root {
    font-family: 'Open Sans Variable', 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: normal;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.boxBorder {
    border-top: 4px solid theme('colors.green.primary');
    border-left: 2px solid theme('colors.gray.light');
    border-right: 2px solid theme('colors.gray.light');
    border-bottom: 2px solid theme('colors.gray.light');
}

.boxBorder:hover {
     border-left: 2px solid theme('colors.green.primary');
     border-right: 2px solid theme('colors.green.primary');
     border-bottom: 2px solid theme('colors.green.primary');
 }
