name: Build+Test(+Push)
run-name: ${{ github.workflow }} run ${{github.run_number}} from ${{github.event_name}} (${{github.head_ref || github.ref}})
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-(${{github.ref}}-${{github.event_name}}
  cancel-in-progress: true

jobs:
  code_check:
    runs-on: "ubuntu-22.04"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: yarn
      - name: yarn install
        run: yarn install --frozen-lockfile
      - name: Code check
        uses: ./.github/actions/code_check
  build-jar-and-test-api:
    runs-on: "ubuntu-22.04"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: yarn
      - name: yarn install
        run: yarn install --frozen-lockfile
      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: zulu
      - name: 'Start database for API tests'
        run: docker compose up -d
      - name: Gradle build, including API tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build
          build-root-directory: server
      - uses: actions/upload-artifact@v3
        with:
          name: jar
          path: server/build/libs/ludos-0.0.1-SNAPSHOT.jar
          retention-days: 30
          if-no-files-found: error
  playwright:
    runs-on: "ubuntu-22.04"
    needs: ["build-jar-and-test-api"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: yarn
      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: zulu
      - uses: actions/download-artifact@v3
        with:
          name: jar
          path: server/build/libs
      - name: Playwright
        uses: ./.github/actions/playwright
  build-docker-image-and-push:
    runs-on: "ubuntu-22.04"
    needs: ["build-jar-and-test-api", "playwright"]
    if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - name: calculate short sha
        id: short_sha
        run: echo "short_sha=$(git rev-parse --short "$GITHUB_SHA")" >> $GITHUB_OUTPUT
      - uses: actions/download-artifact@v3
        with:
          name: jar
          path: server/build/libs
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2 # More information on this action can be found below in the 'AWS Credentials' section
        with:
          role-to-assume: arn:aws:iam::505953557276:role/ludos-gh-actions-ecr-push-role
          aws-region: eu-west-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push docker image
        uses: docker/build-push-action@v4
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ludos
          IMAGE_TAG: ludos-${{ github.ref_name }}-${{ github.run_number }}-${{ steps.short_sha.outputs.short_sha }}
        with:
          file: docker-build/Dockerfile
          context: .
          tags: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}:${{ env.IMAGE_TAG }}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
