name: Build
on:
  push:
    branches:
      - main

concurrency: build-${{ github.ref }}

env:
  DOCKER_BUILDKIT: '1' # BuildKit is enabled by default starting in Docker v23, Ubuntu 22.04 has an older version

defaults:
  run:
    shell: bash

jobs:
  build:
    permissions:
      packages: read
    name: 01-build.sh
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.6
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.2.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Run 01-build.sh
        run: ./deploy-scripts/01-build.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
