name: Build
on:
  push:
    branches:
      - main
  workflow_call:

concurrency: build-${{ github.ref }}

defaults:
  run:
    shell: bash

jobs:
  lintbuildtestpush:
    permissions:
      id-token: write
      contents: read
      packages: write
    name: lint-build-test.sh and push-image.sh
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Send build status "in progress"
        if: github.ref == 'refs/heads/main'
        uses: ./.github/actions/build_status
        with:
          task: build-image
          status: inProgress
          api_key: ${{ secrets.RADIATOR_AUTH_TOKEN }}

      - name: Configure utility AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: arn:aws:iam::505953557276:role/ludos-gh-actions-ecr-push-role
          aws-region: eu-west-1

      - name: Run lint-build-test.sh
        run: ./deploy-scripts/lint-build-test.sh
        env:
          LUDOS_PALVELUKAYTTAJA_USERNAME: ${{ secrets.LUDOS_PALVELUKAYTTAJA_USERNAME }}
          LUDOS_PALVELUKAYTTAJA_PASSWORD: ${{ secrets.LUDOS_PALVELUKAYTTAJA_PASSWORD }}

      - name: Run push-image.sh
        run: ./deploy-scripts/push-image.sh

  build_status_completed:
    name: Send build status
    needs: [lintbuildtestpush]
    if: ${{ always() && github.ref == 'refs/heads/main' }}
    continue-on-error: true
    runs-on: 'ubuntu-24.04'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/build_status
        with:
          task: build-image
          status: ${{ needs.lintbuildtestpush.result == 'success' && 'success' || 'failure' }}
          api_key: ${{ secrets.RADIATOR_AUTH_TOKEN }}

  deploy_untuva:
    needs: [lintbuildtestpush]
    uses: ./.github/workflows/deploy_untuva.yml
    secrets: inherit
