name: Scheduled Renovate Execution
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0/20 * * * *'

concurrency: renovate

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/app-token-exporter
        id: app-token
        with:
          private_key: ${{ secrets.PRIVATE_KEY }}
          app_id: ${{ secrets.APP_ID }}
      - name: Set up JDK 25
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4
        with:
          distribution: 'corretto'
          java-version: '25'
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@8b7941943a108b2cc2150730963164aa8baeab8c # v44.2.2
        with:
          configurationFile: .github/renovate.json
          token: ${{ steps.app-token.outputs.token }}
          renovate-version: 41-full
        env:
          LOG_LEVEL: 'debug'
          RENOVATE_REPOSITORIES: 'Opetushallitus/ludos'
          RENOVATE_AUTODISCOVER_FILTER: 'Opetushallitus/ludos'
          RENOVATE_ALLOWED_COMMANDS: 'cd server && ./gradlew dependencies --write-locks'
