name: Scheduled Renovate Execution
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0/20 * * * *'

concurrency: renovate

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/app-token-exporter
        id: app-token
        with:
          private_key: ${{ secrets.PRIVATE_KEY }}
          app_id: ${{ secrets.APP_ID }}
      - name: Set up JDK 25
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'corretto'
          java-version: '25'
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@8cb0d4a6ab7d8bb90460a005f7bd33b80dd07ca8 # v44.2.5
        with:
          configurationFile: .github/renovate.json
          token: ${{ steps.app-token.outputs.token }}
          renovate-version: 42-full
        env:
          LOG_LEVEL: 'debug'
          RENOVATE_REPOSITORIES: 'Opetushallitus/ludos'
          RENOVATE_AUTODISCOVER_FILTER: 'Opetushallitus/ludos'
          RENOVATE_ALLOWED_COMMANDS: 'cd server && ./gradlew dependencies --write-locks'
