name: Test pull request
on:
  pull_request:
  merge_group:

jobs:
  lintbuildtest:
    permissions:
      id-token: write
      contents: read
      packages: write
    name: lint-build-test.sh
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run lint-build-test.sh
        run: ./deploy-scripts/lint-build-test.sh
        env:
          LUDOS_PALVELUKAYTTAJA_USERNAME: ${{ secrets.LUDOS_PALVELUKAYTTAJA_USERNAME }}
          LUDOS_PALVELUKAYTTAJA_PASSWORD: ${{ secrets.LUDOS_PALVELUKAYTTAJA_PASSWORD }}
