name: Test pull request
on:
  pull_request:
  merge_group:

jobs:
  lintbuildtest:
    permissions:
      id-token: write
      contents: read
      packages: write
    name: lint-build-test.sh
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run lint-build-test.sh
        run: ./deploy-scripts/lint-build-test.sh
        env:
          LUDOS_PALVELUKAYTTAJA_USERNAME: ${{ secrets.LUDOS_PALVELUKAYTTAJA_USERNAME }}
          LUDOS_PALVELUKAYTTAJA_PASSWORD: ${{ secrets.LUDOS_PALVELUKAYTTAJA_PASSWORD }}

      - name: Upload Playwright Report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright/playwright-results/
          retention-days: 30
